## Getting data with pandas from internet

In [1]:
from pandas_datareader import data, wb
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

In [2]:
start = datetime.datetime(2006,1,1)
end = datetime.datetime(2016,1,1)

In [10]:
#Bank of america
BAC = data.DataReader('BAC','yahoo',start,end)
#CitiGroup
C = data.DataReader('C','yahoo',start,end)
#Goldman Sachs
GS = data.DataReader('GS','yahoo',start,end)
#JPMorgan Chase
JPM = data.DataReader('JPM','yahoo',start,end)
#Morgan StanLey
MS = data.DataReader('MS','yahoo',start,end)
#WeLLs Fargo
WFC = data.DataReader('WFC','yahoo',start,end)

In [8]:
BAC.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  47.180000  46.150002  46.919998  47.080002  16296700.0  34.811729
2006-01-04  47.240002  46.450001  47.000000  46.580002  17757900.0  34.442013
2006-01-05  46.830002  46.320000  46.580002  46.639999  14970700.0  34.486385
2006-01-06  46.910000  46.349998  46.799999  46.570000  12599800.0  34.434616
2006-01-09  46.970001  46.360001  46.720001  46.599998  15619400.0  34.456806